#sar{
  position: absolute;
  border: 50px;
  top: 50px;
  right: 20px;

}
/* img:hover{
    
    position: absolute;
    opacity: 0.5;
    border-radius: 25px;
    opacity: 0.5;
    
} */

#abc{
    background:linear-gradient( red green indigo );
}

#aac{
    transform: scale(1.5);
}

#abc{
    transform: translate3d(10px,20px,30px) rotate3d(0,1,0,300deg) ;
}

button{
    background-color: blueviolet;width: 500px;height: 350px;border-radius: 100px;transition: background 5s;
} 
button:hover{
background:red;
}